/*
마이 페이지 레이아웃을 위한 css
작성자 : 고한별
작성일 : 2024.06.10
*/
.mypage_side_nav {
    position: fixed;
    z-index: 1;
    width: 260px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.mypage_contents {
	margin-left: 260px;
	height: 100%;
}

.mypage_contents_core {
	height: calc(100% - 2.85714286em);
}