<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.aak.instructor">

	<!-- 강사 메인화면 쿼리문 -->
	<!-- 강사소개 -->
	<select id="" resultType="">
		select inst_id, name, email, introduction, image
		from inst_info
		where inst_id= INST_00011
	</select>

	<!-- 미답변 문의수 -->
	<select id="" resultType="">
	</select>

	<!-- 강의 개설현황 -->
	<select id="" resultType="">
		SELECT COUNT(status) as cnt
		FROM subject;
	</select>

	<select id="" resultType="">
		SELECT COUNT(status) as cnt
		FROM subject
		where status='Y'
	</select>
	
	<!-- 반려 리스트 -->
	<select id="" resultType="">
		SELECT s.sub_code, sr.reason
		FROM subject s
		JOIN sub_reject sr ON s.sub_code = sr.sub_code
		WHERE s.status = 'N';
	</select>

</mapper>
  