<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties resource="kr/co/sist/aak/properties/database.properties"/>
<typeAliases>
 <typeAlias type="kr.co.sist.aak.domain.admin.NoticeManagementDomain" alias="noticeManagementDomain"/>
 <typeAlias type="kr.co.sist.aak.domain.admin.vo.NoticeManagementVO" alias="noticeManagementVO"/>
 <typeAlias type="kr.co.sist.aak.domain.admin.InstructorManagementDomain" alias="InstructorManagementDomain"/>
 <typeAlias type="kr.co.sist.aak.domain.admin.vo.InstructorManagementVO" alias="InstructorManagementVO"/>
 <typeAlias type="kr.co.sist.aak.domain.admin.vo.EduCategoryManagementVO" alias="EduCategoryManagementVO"/>
 <typeAlias type="kr.co.sist.aak.domain.admin.EduCategoryManagementDomain" alias="EduCategoryManagementDomain"/>
</typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${connectionURL}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
 <!-- NoticeMAnagement  -->
    <mapper resource="kr/co/sist/aak/mappers/admin_mapper.xml"/>
 <!-- Instructormanagement -->  
    <mapper resource="kr/co/sist/aak/mappers/admin_mapper2.xml"/>
 <!-- ManageEduCat&Sub -->  
    <mapper resource="kr/co/sist/aak/mappers/admin_mapper3.xml"/>
  </mappers>
</configuration>