<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.aak.student.mypage.dashboard">

	<!-- 전체 수강 강의 수 -->
    <select id="selectTotalLectureCount" parameterType="String" resultType="int">
        SELECT COUNT(SUB_CODE)
        FROM STD_SUBJECT
        WHERE std_id = #{stdId}
    </select>

    <!-- 진행 중인 강의 수 -->
    <select id="selectProcessLectureCount" parameterType="String" resultType="int">
        SELECT COUNT(SUB_CODE)
        FROM STD_SUBJECT
        WHERE std_id = #{stdId} and apply = 'P'
    </select>
    
    <!-- 완료된 강의 수 -->
    <select id="selectCompleteLectureCount" parameterType="String" resultType="int">
        SELECT COUNT(SUB_CODE)
        FROM STD_SUBJECT
        WHERE std_id = #{stdId} and apply = 'C'
    </select>

</mapper>