<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.aak.student.mypage.detail_lecture">
	<select id="selectDeailLecture" parameterType="map" resultType="DetailLectureVO">
		SELECT l.TITLE , l.LEC_CODE , ls.STATUS 
		FROM LECTURE l
		JOIN SUBJECT s ON s.SUB_CODE = l.SUB_CODE 
		JOIN LEC_STATUS ls ON l.SUB_CODE = ls.SUB_CODE
	    WHERE s.SUB_CODE = #{subCode} AND ls.STD_ID = #{stdId}
		ORDER BY LEC_CODE ASC
	</select>
<!-- 	<select id="selectDeailLectureInfo" parameterType="map" resultType="DetailLectureVO">
	  SELECT s.INTRO , s.GOAL , s.IMAGE , ii.NAME , ii.INTRODUCTION , ii.IMAGE , l.TITLE , l.LEC_CODE , ls.STATUS 
	  FROM SUBJECT s
	  JOIN SUB_INSTRUCTOR si ON s.SUB_CODE = si.SUB_CODE 
	  JOIN INST_INFO ii ON si.INST_ID = ii.INST_ID 
	  JOIN LECTURE l ON si.SUB_CODE = l.SUB_CODE 
	  JOIN LEC_STATUS ls ON l.SUB_CODE = ls.SUB_CODE
	  WHERE s.SUB_CODE = #{subCode} AND ls.STD_ID = #{stdId}
	</select> -->
</mapper>