<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.aak.student.mypage.info">

	<select id="selectInfo" parameterType="String" resultType="JoinVO">
		SELECT si.NAME , si.TEL , si.EMAIL 
		FROM STD_INFO si 
		WHERE STD_ID = #{stdId}
	</select>

	<update id="updateInfo" parameterType="JoinVO">
	    UPDATE STD_INFO 
	    SET TEL = #{tel}, 
	        EMAIL = #{email} 
	    WHERE STD_ID = #{stdId}
	</update>
    
	<update id="updatePass" parameterType="JoinVO">
	    UPDATE STUDENT 
	    SET PASSWORD = #{password} 
	    WHERE STD_ID = #{stdId}
    </update>   

</mapper>