<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.aak.student.mypage.play_lecture">
	<select id="existsLecturePlayTime" parameterType="PlayLectureVO" resultType="boolean">
	    SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
	    FROM LEC_STATUS
	    WHERE SUB_CODE = #{subCode} AND LEC_CODE = #{lecCode} AND STD_ID = #{stdId}
	</select>

    <insert id="insertLecturePlayTime" parameterType="PlayLectureVO">
		INSERT INTO LEC_STATUS (SUB_CODE, LEC_CODE, STD_ID, "TIME", STATUS) 
		VALUES (#{subCode}, #{lecCode}, #{stdId}, #{time, jdbcType=DOUBLE}, 'P')
    </insert>
    
    <update id="updateLecturePlayTime" parameterType="PlayLectureVO">
	    UPDATE LEC_STATUS
	    SET "TIME" = #{time, jdbcType=DOUBLE}, STATUS = 'P'
	    WHERE SUB_CODE = #{subCode} AND LEC_CODE = #{lecCode} AND STD_ID = #{stdId}
	</update>
</mapper>